:root{
    --logo-color:#95E1D3;
    --accent-color:#F38181;
    --title-color:#333333;
    --text-color:#B6B6B6;
    --button-text-color:#FFFFFF;
    --footer-text-color:#333333;
}
body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
/* header */
.header{
    padding-top: 17px;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: var(--logo-color);
    font-size: 30px;
    font-weight: 700;
}
.navigation-list{
    display: flex;
    align-items: center;
    gap: 55px;
}
.navigation-link{
    color: var(--logo-color);
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
 }
.navigation-link:hover,
.navigation-link:focus{
    color: var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    border-radius: 5%;
}
/* Сфера дій */
.work{
    padding-top: 68px;
}
.slogan-wrap{
    display: flex;
    justify-content: center;
}
.slogan{
    font-family: 'Kaushan Script', cursive;
    color: var(--title-color);
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 20px;
}
.title{
    color: var(--title-color);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.line{
    width: 60px;
    height: 4px;
    background-color: var(--accent-color);
    margin: 0 auto;
    margin-bottom: 65px;
}
.work-list{
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.work-item{
    width: 332px;
    display: flex;
    align-items: flex-start;
}
.work-title{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.work-text{
    line-height: 146.667%;
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
}
.work-img{
    margin-right: 20px;
    width: 37px;
    height: 37px;
}
/* team */
.team{
    padding-top: 100px;
    padding-bottom: 80px;
}
.team-text{
    margin-bottom: 27px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
.team-list{
    display: flex;
    justify-content: space-between;
}
.team-img{
    margin-bottom: 30px;
}
.team-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.employee-name{
    margin-bottom: 11px;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
}
.employee-position{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}
/* footer */
.footer{
    padding-top: 10px;
    padding-bottom: 10px;   
}
.footer-container{
    border-top: 1px solid var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.footer-text{
    color: var(--footer-text-color);
    font-size: 14px;
    font-weight: 400;
}
.template{
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 400;
}
.action-button{
    background-color: var(--logo-color);
    color: var(--button-text-color);
    padding: 11px 38px;
    border: none;
    text-transform: uppercase;
    margin-left: -20px;
}
.subscribe-form{
    display: flex;
}
.input-email{
    padding: 11px 15px 11px 10px;
}