:root{
    --logo-color:#95E1D3;
    --accent-color:#F38181;
    --title-color:#333333;
    --text-color:#B6B6B6;
    --button-text-color:#FFFFFF;
    --footer-text-color:#000000;
}
body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    border: 2px solid red;
}
.header{
    padding-top: 17px;
}
.logo{
    color: var(--logo-color);
    font-size: 30px;
    font-weight: 700;
}
.navigation-link{
    color: var(--logo-color);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
 }
.navigation-link:hover,
.navigation-link:focus{
    color: var(--accent-color);
}
/* Work */
.work{
    padding-top: 68px;
}
.slogan{
    font-family: 'Kaushan Script', cursive;
    color: var(--title-color);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.title{
    color: var(--title-color);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.line{
    width: 60px;
    height: 4px;
    background-color: var(--accent-color);
    margin-bottom: 65px;
}
.work-title{
    margin-bottom: 20px;
}
.work-img{
    margin-right: 20px;
}
/* team */
.team{
    padding-top: 100px;
    padding-bottom: 80px;
}
.team-text{
    margin-bottom: 27px;
}
.team-img{
    margin-bottom: 30px;
}
.employee-name{
    margin-bottom: 11px;
}
/* footer */
.footer{
    padding-top: 10px;
    padding-bottom: 10px;   
}
.footer-container{
    border-top: 1px solid color:var(#B6B6B6);
}
.action-button{
    background-color: var(--logo-color);
    color: var(--button-text-color);
    padding: 11px 38px;
    border: none;
    text-transform: uppercase;
    margin-left: -20px;
}
.input-email{
    padding: 11px 145px 11px 10px;
}